[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tastypie = "*"
ruff = "*"
django-debug-toolbar = "*"
pillow = "*"
python-dotenv = "*"
django-ckeditor = "*"
gevent = "*"
gunicorn = "*"
django-redis = "*"
elasticsearch = "*"
django-elasticsearch-dsl = "*"
mypy = "*"
django-stubs = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
