[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tastypie = "*"
ruff = "*"
django-debug-toolbar = "*"
pillow = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
