{% extends 'shop/base.html' %}

    {% block title %}{{ course.title }}{% endblock %}

    {% block courses %}
        <div class="row">
            <div class="col-md-4">
                <img src="{{ course.poster.url }}" class="img-fluid rounded" alt="{{ course.title }}" style="min-width: 410px;">
            </div>

            <div class="col-md-8">
                <h1>{{ course.title }}</h1>
                <h3>{{ course.category }}</h3>
                <h3>{{ course.lecturer }}</h3>
                <form action="{% url 'shop:add_rating' %}" method="post" name="rating" data-url="{% url 'shop:add_rating' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ course.id }}" name="course">
                    <p class="rating_sum">
                        <strong>Рейтинг:</strong>
                        <span class="rating">
                            {% for star in "12345" %}
                                <i class="bi bi-star" data-value="{{ star }}" style="margin-right: -2px"></i>
                            {% endfor %}
                        </span>
                        <span id="avg_rating">{{ course.average_rating|default:0 }}</span>
                    </p>
                </form>
                <p><strong>Ціна:</strong> ${{ course.price }}</p>
                <p><strong>Кількість студентів:</strong> {{ course.students_qty }}</p>
                <form method="POST" action="{% url 'shop:add_to_cart' course.id %}" class="add-to-cart-form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">В кошик</button>
                </form>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <h2>Про курс</h2>
                <p>{{ course.description|safe }}</p>
            </div>
        </div>


    {% endblock courses%}